language: node_js

env:
  matrix:
    - APP_DIR=forest-fires
    - APP_DIR=slider
  global:
    - secure: 7Fnnjc1QV+lhVKqqABU08UzYkPTEKaWhETK+a3YEDUWjjW57lvmvOvgURyP1rv1oQs+WKZmEnzjYAYeNSoVnPBXiP1Sqjhg4EkgTuRnjqT1Wq0quHM7CHnknM4cJexz/79bsjy6kJ3xQUB9UdbEWAGangk7gs3RtwOsqPpSCtn/hbijnu0SPu8UQ869SX5KfQMlhLoWG5/a69DLl7Rw5kPrRTiI3Mrc2XpKnYOo7CTRU5UTYlnN8s2X7559pfZdPIUnGk4mFZ1tAfGnPfe0yFL6A+DfN2uYvFPiZSq49SkXkc/tk09MZ9lNILxVodw0A9nBGRRb6kvhcgPk5syvEaJiQOqOkhAZVO+zgw3urOvBzs4YJaguY5y5Br81SBp9ScjqcX0uqwgVmcv5lHFKmVlPKhmOhfA9fO8/bfRGtRELPl1ee+1+dgrjF+5mtURCmwsqQF0+O778O6MYPeYfMQPC359E5Su+51vtJWKUEebAvuKZxdPaulDK9qEVxputxkzteijFmzHLrQnnkiQjDrx1AtmnCBspDi1akB8Bk/r8Ew0imvLBCE2HM0Qg+3L/5oiq35cCfe/b4nlaV5GRxl3sFnui5CAgJvK8NPAn3mweHEUJQn1FQInQOYUk7zPJa+a+9ZO4DgwGFcax/c5I6vEH2hUPmam7DquyR4H1zP7o=
    - secure: E9Jpu3DpL9UFVRqnipoOyGkGM1FAZei9YPLmORuMz/HuyZbexdRzsGNw/oAJuZeXB2uDmqSN4VcpgD+f7BvjzMGX6mptWOIOSwsbj6i61EsNS4ebwWhIwp7OycHT0dKztjtvGeSaE8UUyifdSftx7TFRvwwbkE/erqYkh7H08QnHuYXhceHum8alR0C6zx8Wcja2xXvsIXZEgRN2WXopWVECvg6pt0LRlY2YFih4Z4uT4P5NgcECit+rxWPHxybvuV1Twa0O1ZQ484nrtXk1IquB8Z4O/23osq1J7a5RDPT70H4NQbplGdemmj1HgOcRpsS1kfy5uck8awvLnKF9hG80U2AhAo9mVt3OYPG+nSgLvBlJbNtXjRHHYdui6FfZr1VkthOJ+MNYVTp7hg3lMP+BHetrLs8+iMdrTdkuTEUmByrEAfz6O+U/Rc1gh5fcodK/LvSo3UpXz1bN763GP1bOA+LsTqOXdMkfVUIxB64aBNkbFaX26u38+Qn4QspI9sJFulNaLb3yScbMdnM/4Z0kPpkek+2rw2uxUAwGqTQbZlVl1HJuVxY0rVZpZhGmipB97F0ZwdwHGE2Cwri32DTYKdeYgJGJQvmCIK/QcujJSLrmzLlVdYbOrNRnNaurK3lX26JGcbFRp4VD1QEjjNujEFXljn57nsjIcymFxEg=

node_js:
  - lts/*

cache: yarn

before_install:
  - cd $APP_DIR

install:
  - yarn install --pure-lockfile

script:
  - yarn build

before_deploy:
  - pip install awscli --user travis

deploy:
  - provider: script
    script: aws s3 sync --delete dist/ s3://rasterfoundry-global-miniapps-us-east-1/$APP_DIR/
    on:
      repo: raster-foundry/mini-apps
      branch: master
    skip_cleanup: true
