/* * * *
 * Colors
 * * * */

$color-dark-1: #353C58;
$color-dark-2: #455076;

$color-gray-1: #7B8391;
$color-gray-2: #959CAC;
$color-gray-3: #BCBCBC;

$color-midnight: #353C58;
$color-primary: #708FFB;
$color-secondary: #0CC3D0;
$color-tertiary: #4AB3DF;

$base: #4A4A4A;
