h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  color: $color-midnight;
  font-weight: 600;
  line-height: 1.5;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: $font-family-heading, sans-serif;
}

h1, .h1 {
  font-size: $font-size-h1;
}

h2, .h2 {
  font-size: $font-size-h2;
}

h3, .h3 {
  font-size: $font-size-h3;
}

h4, .h4 {
  font-size: $font-size-h4;
}

h5, .h5 {
  font-size: $font-size-h5;
}

h6, .h6 {
  font-size: $font-size-h6;
}

p, .p {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 1rem;
  margin-bottom: 2.5rem;
}

a, .a {
  color: color-primary;
  text-decoration: none;

  &:hover,
  &:active {
    color: darken($color-primary, 10%);
  }
}

b, strong {
  color: $color-midnight;
}

.font-size-small {
  font-size: 1.3rem;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}
